<!--
  Generated template for the LookupGradesPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
  <ion-title>MEHE Official Grades</ion-title>
</ion-navbar>

<ion-content class="lookup-grades">
  <form (submit)="searchForGrades()">
    <ion-list>
      <ion-item>
        <ion-label>Class</ion-label>
        <ion-select [(ngModel)]="studentClass">
          <ion-option value="br">BREVET</ion-option>
          <ion-option value="sg">SG</ion-option>
          <ion-option value="sv">SV</ion-option>
          <ion-option value="es">ES</ion-option>
          <ion-option value="lh">LH</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="studentNumber" type="number" placeholder="Student Number" max="99999" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col class="LookupGrades-submitButton">
          <button block type="submit">Search</button>
        </ion-col>
      </ion-row>

    </ion-list>
  </form>

  <div *ngIf="studentGradeDetail" class="LookupGrades-results">
    <hr/>
    <ion-row>
      <ion-col class="LookupGrades-boldText">
        {{studentGradeDetail.name}}
      </ion-col>
      <ion-col class="LookupGrades-boldText">
        {{studentClass | uppercase }} - {{chosenStudentNumber}}
      </ion-col>
      <ion-col class="LookupGrades-boldText">
        {{studentGradeDetail.roundNumber}}
      </ion-col>
      <ion-col class="LookupGrades-boldText">
        {{studentGradeDetail.schoolName}}
      </ion-col>
    </ion-row>

    <hr/>

    <ion-row>
      <ion-col>
        المادة
      </ion-col>
      <ion-col>
        العلامة
      </ion-col>
    </ion-row>

    <hr/>
    <ion-row>
      <ion-col>
        لغة عربية
      </ion-col>
      <ion-col>
        {{studentGradeDetail.arabic}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        كيمياء
      </ion-col>
      <ion-col>
        {{studentGradeDetail.chemistry}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        تربية
      </ion-col>
      <ion-col>
        {{studentGradeDetail.civics}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        لغة اجنبية
      </ion-col>
      <ion-col>
        {{studentGradeDetail.foreign_language}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        جغرافيا
      </ion-col>
      <ion-col>
        {{studentGradeDetail.geography}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        فلسفة
      </ion-col>
      <ion-col>
        {{studentGradeDetail.history}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        رياضيات
      </ion-col>
      <ion-col>
        {{studentGradeDetail.math}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        فلسفة
      </ion-col>
      <ion-col>
        {{studentGradeDetail.philosophy}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        فيزياء
      </ion-col>
      <ion-col>
        {{studentGradeDetail.physics}}
      </ion-col>
    </ion-row>

    <ion-row class="LookupGrades-boldText">
      <ion-col>
        المجموع
      </ion-col>
      <ion-col>
        {{studentGradeDetail.total}}
      </ion-col>
    </ion-row>

    <ion-row class="LookupGrades-boldText">
      <ion-col>
        إستدراك
      </ion-col>
      <ion-col>
        {{studentGradeDetail.extra}}
      </ion-col>
    </ion-row>

    <hr/>

    <ion-row class="LookupGrades-grandTotal">
      <ion-col>
        المجموع
      </ion-col>
      <ion-col>
        {{studentGradeDetail.grand_total}}
      </ion-col>
    </ion-row>

    <hr/>

    <ion-row>
      <ion-col class="LookupGrades-boldText">
        المعدل
      </ion-col>
      <ion-col class="LookupGrades-boldText">
        {{studentGradeDetail.average}}
      </ion-col>
    </ion-row>

    <ion-row class="LookupGrades-boldText">
      <ion-col>
        الدرجة
      </ion-col>
      <ion-col>
        {{studentGradeDetail.mention}}
      </ion-col>
    </ion-row>

    <ion-row class="LookupGrades-boldText">
      <ion-col>
        النتيجة
      </ion-col>
      <ion-col>
        {{studentGradeDetail.result}}
      </ion-col>
    </ion-row>

    <hr/>

    <ion-row class="LookupGrades-disclaimer">
      <ion-col>
        إن هذه النتائج هي نتائج أوليّة للعام الدراسي ٢٠١٥ - ٢٠١٦
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="!studentGradeDetail">
    <button primary full (click)="getDirections()" *ngIf="currentCenterLocation">
      Get Directions!
    </button>
    <div id="map"></div>
  </div>

</ion-content>