.CategoryList-categorySlider{
  //  border: 0.5px solid #efefef;
   margin-right: 1px;
}

.CategoryList-categoryHeader{
  white-space: normal;
  font-size: 1.4rem;
  font-weight: 400;
}

.CategoryList-gradeLookupButton{
  background-color: #1B75BB;
  text-align: center;
  color: white;
}

.CategoryList-categoryItemSlideText{
  color: black;
  font-size: 14px;
}

.CategoryList-list{
  margin-top: -25px !important;
}

.CategoryList-categoryIcon{
  // width: 125px !important;
  // height: 125px !important;
}

.CategoryList-adSlider{
  height: 100px;
}