<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>News</ion-title>
</ion-navbar>

<ion-content>
    <ion-searchbar></ion-searchbar>
    <ion-list *ngFor="#category of response" >
        <ion-row>
            <ion-col width-100>
                <ion-list-header class="Landing-categoryHeader" (click)="showCategoryNews(category.categoryName, category.objectId, 'Category')">
                    {{category.categoryName}}
                </ion-list-header>
                <ion-slides class="Landing-categorySlider" [options]="sliderOptions" *ngIf="category.subcat">
                    <ion-slide *ngFor="#object of category.subcat; #i = index" class="Landing-categoryItemSlide" (click)="showCategoryNews('Subcategory', object.objectId, 'SubCategory')">
                        <h2>Subcategory {{i}}</h2>
                    </ion-slide>
                </ion-slides>
                <ion-item *ngIf="!category.subcat">
                  No sub-categories available
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>