.CategoryList-categorySlider{
    height: 200px !important;
}

.CategoryList-categoryItemSlide{
    margin: 0px 1px 0px 1px !important;
    background-color: gray;
}

.CategoryList-categoryHeader{
  white-space: normal;
}