<ion-navbar *navbar>
  <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
  <ion-title>
    <img src="build/assets/isam_logo.png" />
  </ion-title>
</ion-navbar>

<ion-content>
  <ion-row>
    <ion-col>
      <img src="build/assets/ad_image.png" />
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-list>
      <ion-list-header class="CategoryList-categoryHeader">
        OFFICIAL RESULTS
      </ion-list-header>
      <ion-col class="CategoryList-gradeLookupButton" [navPush]="gradePage">
        <img src="build/assets/exam_search_icon.png" /> Lookup your grade!
      </ion-col>
    </ion-list>
  </ion-row>

  <ion-list *ngFor="#category of response" class="CategoryList-list">
    <ion-row>
      <ion-col width-100>
        <ion-list-header class="CategoryList-categoryHeader">
          {{category.categoryName | uppercase}}
        </ion-list-header>
        <ion-slides class="CategoryList-categorySlider" [options]="sliderOptions" *ngIf="category.subcat">
          <ion-slide *ngFor="#subcategory of category.subcat" class="CategoryList-categoryItemSlide" (click)="showSubcategoryNews(subcategory)">
            <div [ngStyle]="{'background': subcategory.SubCatColor}">
              <img class="CategoryList-categoryIcon" *ngIf="subcategory.SubCatIcon" [src]="subcategory.SubCatIcon" />
            </div>
            <p class="CategoryList-categoryItemSlideText">
              {{ subcategory.SubCatName }}
            </p>
          </ion-slide>
        </ion-slides>
        <ion-item *ngIf="!category.subcat">
          No sub-categories available
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>