<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>News</ion-title>
</ion-navbar>

<ion-content>
    <ion-searchbar></ion-searchbar>
    <ion-list *ngFor="#category of response" >
        <ion-row>
            <ion-col width-100>
                <ion-list-header class="CategoryList-categoryHeader">
                    {{category.categoryName}}
                </ion-list-header>
                <ion-slides class="CategoryList-categorySlider" [options]="sliderOptions" *ngIf="category.subcat">
                    <ion-slide *ngFor="#subcategory of category.subcat"
                    class="CategoryList-categoryItemSlide"
                    (click)="showSubcategoryNews(subcategory)">
                    <div *ngIf="subcategory !== null">
                        <p>{{ subcategory.SubCatName }}</p>
                    </div>
                    </ion-slide>
                </ion-slides>
                <ion-item *ngIf="!category.subcat">
                  No sub-categories available
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>