<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu" gray></ion-icon>
    </button>
    <ion-title>
        <img src="build/assets/isam_logo.png" />
    </ion-title>
</ion-navbar>


<ion-content padding class="getting-started">

    <ion-searchbar></ion-searchbar>
    <ion-list *ngFor="#category of response" >
        <ion-row *ngIf="category.subcat">
            <ion-col width-100>
                <ion-list-header (click)="showCategoryNews(category.categoryName, category.objectId)">
                    {{category.categoryName}}
                </ion-list-header>
                <ion-slides class="Landing-categorySlider">
                    <ion-slide *ngFor="#object of category.subcat; #i = index" class="Landing-categoryItemSlide" [navPush]="categoryNewsPage">
                        <h2>Item {{i}}</h2>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-list>
    <!--<ion-list>
        <ion-row>
            <ion-col width-100>
                <ion-list-header [navPush]="categoryNewsPage">
                    LATEST NEWS
                </ion-list-header>
                <ion-slides class="Landing-categorySlider">
                    <ion-slide style="background-color: green" [navPush]="categoryNewsPage">
                        <h2>Slide 1</h2>
                    </ion-slide>
                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-list>
    <ion-list>
        <ion-row>
            <ion-col width-100>
                <ion-list-header [navPush]="categoryNewsPage">
                    NEWS
                </ion-list-header>
                <ion-slides class="Landing-categorySlider">
                    <ion-slide style="background-color: green" [navPush]="newsDetailsPage">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-list>
    <ion-list>
        <ion-row>
            <ion-col width-100>
                <ion-list-header [navPush]="categoryNewsPage">
                    QUIZZES
                </ion-list-header>
                <ion-slides class="Landing-categorySlider">
                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-list>
    <ion-list>
        <ion-row>
            <ion-col width-100>
                <ion-list-header [navPush]="categoryNewsPage">
                    Resources
                </ion-list-header>
                <ion-slides class="Landing-categorySlider">
                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-list>
    <ion-list>
        <ion-row>
            <ion-col width-100>
                <ion-list-header [navPush]="categoryNewsPage">
                    MEDIA
                </ion-list-header>
                <ion-slides class="Landing-categorySlider">
                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-list>
    <ion-list>
        <ion-row>
            <ion-col width-100>
                <ion-list-header [navPush]="categoryNewsPage">
                    UNIVERSITIES
                </ion-list-header>
                <ion-slides class="Landing-categorySlider">
                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-list>
    <ion-list>
        <ion-row>
            <ion-col width-100>
                <ion-list-header [navPush]="categoryNewsPage">
                    SCHOOLS
                </ion-list-header>
                <ion-slides class="Landing-categorySlider">
                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-list>
    <ion-list>
        <ion-row>
            <ion-col width-100>
                <ion-list-header [navPush]="categoryNewsPage">
                    CALENDAR
                </ion-list-header>
                <ion-slides class="Landing-categorySlider">
                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-list>
    <ion-list>
        <ion-row>
            <ion-col width-100>
                <ion-list-header [navPush]="categoryNewsPage">
                    Latest News
                </ion-list-header>
                <ion-slides class="Landing-categorySlider">
                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-list>
    <ion-list>
        <ion-row>
            <ion-col width-100>
                <ion-list-header [navPush]="categoryNewsPage">
                    News
                </ion-list-header>
                <ion-slides class="Landing-categorySlider">
                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-list>
    <ion-list>
        <ion-row>
            <ion-col width-100>
                <ion-list-header [navPush]="categoryNewsPage">
                    Quizzes
                </ion-list-header>
                <ion-slides class="Landing-categorySlider">
                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>

                    <ion-slide style="background-color: green">
                        <h2>Slide 1</h2>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-list>-->
</ion-content>