.Landing-categorySlider{
    height: 200px !important;
}

.Landing-categoryItemSlide{
    margin: 0px 1px 0px 1px !important;
    background-color: gray;
}

.Landing-categoryHeader{
  white-space: normal;
}