<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu" gray></ion-icon>
    </button>
    <ion-title>
        <img src="build/assets/isam_logo.png" />
    </ion-title>
</ion-navbar>

<ion-content>
  <ion-row>
    <ion-col class="Landing-tile" style="background-color: blue;">
      News
    </ion-col>
    <ion-col class="Landing-tile" style="background-color: red;">
      Quizzes
    </ion-col>
    <ion-col class="Landing-tile" style="background-color: yellow;">
      Resources
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="Landing-tile" style="background-color: purple;">
      Calendar
    </ion-col>
    <ion-col class="Landing-tile" style="background-color: green;">
      Grades
    </ion-col>
    <ion-col class="Landing-tile" style="background-color: black;">
      Batata
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="Landing-tile" style="background-color: brown;">
      News
    </ion-col>
    <ion-col class="Landing-tile" style="background-color: orange;">
      News
    </ion-col>
    <ion-col class="Landing-tile" style="background-color: indigo;">
      News
    </ion-col>
  </ion-row>


</ion-content>