.Category-news{

}

.CategoryNews-authorName{
  font-size: 1.2rem;
  color: #7DA7C5;
}

.CategoryNews-newsImage{
  max-width: 7.6rem;
  max-height: 7.6rem;
}

.Category-newsFilters{
  background-color: #EE6A67;
  color: white;
}

.Category-newsFilterLabel{
  color: white !important;
}

.Category-newsFilters .select-icon .select-icon-inner{
  color: white !important;
}